name: Create Release

on:
  push:
    branches:
      - master
    paths:
      - 'lean-toolchain'

jobs:
  lean-release-tag:
    name: Add Lean release tag
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
    - name: lean-release-tag action
      uses: leanprover-community/lean-release-tag@ee8ee743e5a36ff0e75ff51035f6a95a9d1bdf59 # 2025-05-22
      with:
        before: ${{ github.event.before }}
        after: ${{ github.event.after }}
        do-release: true
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
